@font-face {
    font-family: 'weather';
    src: url('../fonts/artill_clean_icons-webfont.eot');
    src: url('../fonts/artill_clean_icons-webfont(1).eot') format('embedded-opentype'),
         url('../fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('../fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('../fonts/artill_clean_icons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Oxygen', sans-serif;
    position: relative;
    overflow-x: hidden;
}

body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent !important;}

#demo_video {
    position: relative;
    padding-bottom: 56.25%;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
}

/* Text colors */

.text-color-white {
  color: #FFFFFF;
}

.text-color-black {
  color: #000000;
}

.text-color-theme {
  color: #6f5499;
}

/* Background colors */
.theme-bg{
  background: #6f5499;
}

.bg-black{
  background: #000000;
}

.secondary-bg {
  background: #f0ecf6;
}


/* Margin */

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom-70 {
  margin-bottom: 70px !important;
}

.margin-bottom-80 {
  margin-bottom: 80px !important;
}

.margin-bottom-90 {
  margin-bottom: 90px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

.margin-bottom-120 {
  margin-bottom: 120px !important;
}

.margin-right-0 {
  margin-right: 0 !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

/* Padding surround */

.padding-0 {
  padding: 0px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-50 {
  padding: 40px !important;
}


/* Buttons */

.btn {
  letter-spacing: 1px;
  text-decoration: none;
  background: none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent !important;
    border-radius: 0 !important;
    cursor: pointer;
    display: inline-block !important;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
  font-size:14px;
  line-height:20px;
  font-weight:700;
  text-transform:uppercase;
  border: 3px solid !important;
  padding:8px 20px;
}

.btn-outlined {
    border-radius: 0 !important ;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.btn-outlined.btn-theme {
    background: none;
    color: #6f5499;
  border-color: #6f5499 !important;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
    color: #FFF;
    background: #6f5499;
    border-color: #6f5499 !important;
}

.btn-outlined.btn-black {
    background: none;
    color: #000000;
  border-color: #000000 !important;
}

.btn-outlined.btn-black:hover,
.btn-outlined.btn-black:active {
    color: #FFF;
    background: #000000;
    border-color: #000000 !important;
}

.btn-outlined.btn-green {
    background: none;
    color: green;
  border-color: green !important;
}

.btn-outlined.btn-green:hover,
.btn-outlined.btn-green:active {
    color: #FFF;
    background: green;
    border-color: green !important;
}

.btn-xs {
  font-size:11px;
  line-height:14px;
  border: 1px solid !important;
  padding:5px 10px;
}

.btn-sm {
  font-size:12px;
  line-height:16px;
  border: 2px solid !important;
  padding:8px 15px;
}

.btn-lg {
  font-size:18px;
  line-height:22px;
  border: 4px solid !important;
  padding:13px 40px;
}

/*-------------------------------*/
/*           OTHER               */
/*-------------------------------*/

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 240px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-size: 18px;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    color: white !important;
    font-size: 18px;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li.active {
    color: #fff !important;
    background-color: #ec1b5a;
}

.sidebar-nav li:first-child a {
    color: #fff !important;
    background-color: #1a1a1a;
}

.sidebar-nav li:nth-child(2).active {
    color: #fff !important;
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(2):before {
    color: #fff !important;
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(3).active {
    color: #fff !important;
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
    color: #fff !important;
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(4):before {
    color: #fff !important;
    background-color: #314190;
}
.sidebar-nav li:nth-child(4).active {
    color: #fff !important;
    background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
    color: #fff !important;
    background-color: #279636;
}
.sidebar-nav li:nth-child(5).active {
    color: #fff !important;
    background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
    color: #fff !important;
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(6).active {
    color: #fff !important;
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    color: #fff !important;
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(7).active {
    color: #fff !important;
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    color: #fff !important;
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(8).active {
    color: #fff !important;
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    color: #fff !important;
    background-color: #35acdf;
}
.sidebar-nav li:nth-child(9).active {
    color: #fff !important;
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li a:visited,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:visited,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent !important;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent !important;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
  -moz-transition:  all .35s ease-in-out;
  -moz-transform:  translate3d(0,0,0);
   -ms-transition:  all .35s ease-in-out;
   -ms-transform:  translate3d(0,0,0);
        transition: all .35s ease-in-out;
        transform: translate3d(0,0,0);
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
  -moz-transition:  all .35s ease-in-out;
  -moz-transform:  translate3d(-100px,0,0);
   -ms-transition:  all .35s ease-in-out;
   -ms-transform:  translate3d(-100px,0,0);
        transition: all .35s ease-in-out;
        transform: translate3d(-100px,0,0);
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition:  all .35s ease-in-out;
   -ms-transition:  all .35s ease-in-out;
        transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition:  all .35s ease-in-out;
   -ms-transition:  all .35s ease-in-out;
        transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition:  all .35s ease-in-out;
   -ms-transition:  all .35s ease-in-out;
        transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition:  all .35s ease-in-out;
   -ms-transition:  all .35s ease-in-out;
        transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
  -moz-transition:  -moz-transform .2s cubic-bezier(.73,1,.28,.08);
  -moz-transform:  rotate(45deg);
   -ms-transition:  -ms-transform .2s cubic-bezier(.73,1,.28,.08);
   -ms-transform:  rotate(45deg);
        transition: transform .2s cubic-bezier(.73,1,.28,.08);
        transform: rotate(45deg);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
  -moz-transition:  -moz-transform .2s cubic-bezier(.73,1,.28,.08);
  -moz-transform:  rotate(-45deg);
   -ms-transition:  -ms-transform .2s cubic-bezier(.73,1,.28,.08);
   -ms-transform:  rotate(-45deg);
        transition: transform .2s cubic-bezier(.73,1,.28,.08);
        transform: rotate(-45deg);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
  -moz-transition:  all .35s ease-in-out;
  -moz-transform:  translate3d(0,0,0);
   -ms-transition:  all .35s ease-in-out;
   -ms-transform:  translate3d(0,0,0);
        transition: all .35s ease-in-out;
        transform: translate3d(0,0,0);
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
  -moz-transition:  all .35s ease-in-out;
  -moz-transform:  translate3d(-100px,0,0);
   -ms-transition:  all .35s ease-in-out;
   -ms-transform:  translate3d(-100px,0,0);
        transition: all .35s ease-in-out;
        transform: translate3d(-100px,0,0);
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

#wrapper #weather-widget-ny i {
  color: #fff;
  font-family: weather;
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

#wrapper #weather-widget-ny .panel-heading {
    background-color: #55BC75;
    color: #fff;
    padding-bottom:20px;
}

#wrapper #weather-widget-ny #current {
    font-size: 4em;
    margin-bottom: -20px;
}

#wrapper #weather-widget-ny .panel-footer {
    background-color: #F5F0EC;
    padding: 20px;
    border: none;
}

#wrapper #weather-widget-la i {
  color: #fff;
  font-family: weather;
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

#wrapper #weather-widget-la .panel-heading {
    background-color: #ffa500;
    color: #fff;
    padding-bottom:20px;
}

#wrapper #weather-widget-la #current {
    font-size: 4em;
    margin-bottom: -20px;
}

#wrapper #weather-widget-la .panel-footer {
    background-color: #F5F0EC;
    padding: 20px;
    border: none;
}

#wrapper #weather-widget-dv i {
  color: #fff;
  font-family: weather;
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

#wrapper #weather-widget-dv .panel-heading {
    background-color: #ff2727;
    color: #fff;
    padding-bottom:20px;
}

#wrapper #weather-widget-dv #current {
    font-size: 4em;
    margin-bottom: -20px;
}

#wrapper #weather-widget-dv .panel-footer {
    background-color: #F5F0EC;
    padding: 20px;
    border: none;
}

/* Weather icons */
.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#wrapper .panel {
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px !important;
}
#wrapper .panel-body {
    padding: 20px !important;
}
#wrapper .panel-heading {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
#wrapper .panel-footer {
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
